<% content_for :head do %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js" %>
  <%= javascript_include_tag "roses/app.js" %>
  <%= javascript_include_tag "roses/services.js" %>
  <%= javascript_include_tag "roses/controllers.js" %>

  <script>
    var InitialData = {
      weeks: <%= @weeks.to_json.html_safe %>,
      contestants: <%= @contestants.to_json.html_safe %>,
      eligibleContestants: <%= @eligible_contestants.to_json.html_safe %>,
      player: { 
        winner_id: 2,
        picks: [
          {id: 1, week_id: 1, order: 1, contestant_id: 1, rose: true},
          {id: 2, week_id: 1, order: 2, contestant_id: 2, rose: true},
          {id: 3, week_id: 1, order: 3, contestant_id: 3, rose: false},
          {id: 4, week_id: 1, order: 4, contestant_id: 4, rose: false},
        ]
      }
    }
  </script>
<% end %>
<div ng-app='roses'>
  <div ng-controller='IndexCtrl'>
    <div class='index'>
      <ul>
        <li><a href='#' ng-click='showWinnerPick()'>Winner pick</a></li>
        <li ng-repeat='week in weeks'>
          <a href='#' ng-click='showWeek(week)'>{{week.name}}</a>
        </li>
      </ul>
    </div>
    <div class='content'>
      <div class='pick-winner' ng-show="show == 'winner'" ng-controller="PickWinnerCtrl">
        <form ng-controller='PickWinnerCtrl'>
          <label for='select-winner'>Who do you think will win?</label> 
          <select id='select-winner' ng-model="winner" ng-options="c.name for c in contestants" ng-change="updateWinnerPick(winner)"></select>
        </form>
      </div>

      <div ng-show="show == 'week'" ng-controller='WeekCtrl'>
        Picks for: {{week.name}}
        <table>
          <tr>
            <th>Order</th>
            <th>Contestant</th>
            <th>Will get rose</th>
            <th>Will not get rose</th>
            <th>Rose?</th>
          </tr>
          <tr ng-repeat="pick in player.picks">
            <td>{{pick.order}}</td>
            <td><select ng-model="pick.contestant" ng-options="c.name for c in eligibleContestants" ng-change="updatePick(pick)"></select></td>
            <td><input ng-model="pick.rose" type='radio' name='{{pick.order}}_rose' value='true' ng-change="updatePick(pick)" /></td>
            <td><input ng-model="pick.rose" type='radio' name='{{pick.order}}_rose' value='false' ng-change="updatePick(pick)" /></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
</script>
