<% content_for :head do %>
  <script>
    var InitialData = {
      season: <%= @season.to_json.html_safe %>,
      weeks: <%= @weeks_json.html_safe %>,
      contestants: <%= @contestants.to_json.html_safe %>,
      eligibleContestants: <%= @eligible_contestants.to_json.html_safe %>,
      player: <%= @player_json.html_safe %>
    }
  </script>
<% end %>
<div ng-app='roses'>
  <div ng-controller='IndexCtrl'>
    <div class='index'>
      <ul>
        <li><a href='#' ng-click='showStandings()'>Standings</a></li>
        <li><a href='#' ng-click='showWinnerPick()'>Winner pick</a></li>
        <li ng-repeat='weeklyEntry in player.weekly_entries'>
        <a href='#' ng-click='showWeeklyEntry(weeklyEntry)'>{{weeklyEntry.week.name}}</a>
        </li>
      </ul>
    </div>
    <div class='content'>
      <div class='standings' ng-show="show == 'standings'" ng-controller="StandingsCtrl">
        Coming soon!
      </div>

      <div class='pick-winner' ng-show="show == 'winner'" ng-controller="PickWinnerCtrl">
        <div class='header'>Winning pick <span ng-if="season.lockdown_winner">(locked)</span></div>
        <br/>
        <form ng-controller='PickWinnerCtrl'>
          <div ng-if="!season.lockdown_winner" >
            <label for='select-winner'>Who do you think will win?</label> 
            <select id='select-winner' ng-model="player.winner" ng-options="c.name for c in contestants" ng-change="updateWinnerPick()"></select>
          </div>
          <div ng-if="season.lockdown_winner">
            <span>You picked: {{player.winner.name}}</span>
          </div>
        </form>
      </div>

      <div ng-show="show == 'week'" ng-controller='WeekCtrl'>
        <div class='weekly-picks'>
          <div class='header'>Picks <span ng-if="weeklyEntry.week.locked">(locked)</span></div>
          <br/>
          <div>{{weeklyEntry.week.name}}</div>
          <table>
            <tr>
              <th>Order</th>
              <th>Contestant</th>
              <th>Will get rose?</th>
            </tr>
            <tbody ng-if="!weeklyEntry.week.locked">
              <tr ng-repeat="pick in picksForWeek(weeklyEntry)">
                <td>{{pick.rose_order}}</td>
                <td><select ng-model="pick.contestant" ng-options="c.name for c in eligibleContestants" ng-change="updatePick(pick)"></select></td>
                <td ng-class="{'rose': pick.rose, 'no-rose': !pick.rose}"><input ng-model="pick.rose" type="checkbox" ng-change="updatePick(pick)" ></td>
              </tr>
            </tbody>
            <tbody ng-if="weeklyEntry.week.locked">
              <tr ng-repeat="pick in picksForLockedWeek(weeklyEntry)">
                <td>{{pick.rose_order}}</td>
                <td>{{pick.contestant.name}}</td>
                <td ng-class="{'rose': pick.rose, 'no-rose': !pick.rose}">{{pick.rose}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='weekly-scorecard'>
          <div class='header'>Scoring</div>
          <br/>
          <div>Correct picks: {{weeklyEntry.correct_picks}}</div>
          <div>Final rose tiebreaker: {{weeklyEntry.final_rose_distance}}</div>
          <div>Standing: {{weeklyEntry.standing}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
</script>
