<!DOCTYPE html>
<html>
<head>
  <title>Will you accept this rose?</title>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" %>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <% if !current_user %>
    <header>
      <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
    </header>
  <% else %>
    <header>
      <div>
        <span>Will you accept this rose, <%= current_user.name %>?</span>
        <span class='link'> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </span>
        <span class='link'> <%= link_to("Admin", admin_path) if current_user.admin %> </span>
        <span class='link'> <%= link_to("Picks", player_path(@player)) %> </span>
      </div>
    </header>

    <br/>
  <% end %>

  <%= yield %>

</body>
</html>
